body {
  background-color: white!important;

}
.card__position{
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}
.InputForm__LogIn {
  height: 100px;
}

.Dispatch__Form__Button {
  background-color: #00e600!important;
  border: none!important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.offline {
  background-color: red!important;
}

.occuped {
  background-color: #ffad33!important;
}

.task_problem {
  background-color: red !important;
}

.task_assigned {
  background-color: #ffad33 !important;
}

.flexbox {
  display: flex;
  justify-content: space-between;

  width: 100%;
  max-width: 768px;
  height: 100vh;

  overflow: hidden;

  margin: 0 auto;
  padding: 15px;
}

.flexbox .board {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 15px;
  max-width: 300px;
  background-color: white !important;
  border: 1px solid;
  overflow: scroll;
  padding: 15px;
}

.flexbox .board .card {
  padding: 15px 25px;
  background-color: #00e600;
  border-radius: 15px;

  cursor: pointer;
  margin-bottom: 15px;
}
